@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply inline-block px-5 py-2 lg:px-12 lg:py-3 border-[3px] border-transparent rounded-3xl bg-merah-300 text-white;
}

.question-enter {
  transform: rotateY(90deg);
  opacity: 0;
}

.question-enter-active {
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}

.question-exit {
  transform: rotateY(0deg);
  opacity: 1;
}

.question-exit-active {
  transform: rotateY(-90deg);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}